.container{
    position: relative;
}

.one-page-row{
    min-height: 100vh;
}
.carousel-item{
    height: 90vh;
}
.yellowish-row{
    background-color: #8D8741;
}

.blog-shortcut-col{
    padding: 1rem; 
}

.orangish-row{
    background-color: #945e45;
}

.pinkish-row{
    background-color: #83677b;
}

.blueish-row{
    background-color: #659dbd;
}

#whoami-row{
    padding-top: 1rem; 
}

.whoami-col{
    padding: 1rem;
    color: white;
}

.write-row{
    padding-top: 1rem; 
    padding-bottom: 1rem; 
    background-color: #659dbd;
    color: white;
}

.cardFancy{
    position: relative;
}

.cardFancy .face{
    height: 400px;
    transition: 1s;
}

.cardFancy .face.face1{
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
}

@media (min-width: 992px) {
    nav{
        background-color: transparent !important;
        transition: 1s;
    }

    nav .navbar-collapse{
        visibility: hidden;
        opacity: 0;
        transition: 1s;
    }

    nav:hover{
        transition: 1s;
        background-color: #ffffff82 !important;
    }
    
    nav:hover .navbar-collapse{
        visibility: visible;
        transition: 1s;
        opacity: 1;
    }
}

.cardFancy:hover .face.face1, .cardFancy:active .face.face1{
    background: #BC986A;
    transform: translateY(0);
}

.cardFancy .face.face1 .content{
    opacity: 0.5;
    transition: 0.5s;
    max-width: 100%;
}

.cardFancy:hover .face.face1 .content, .cardFancy:active .face.face1 .content{
    opacity: 1;
}

.cardFancy .face.face1 .content h3{
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
}

.cardFancy .face.face2{
    height: 200px;
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

    transform: translateY(-200px);
}

.cardFancy:hover .face.face2, .cardFancy:active .face.face2{
    transform: translateY(0);
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
}
.cardFancy .face.face2 .content{
    width: inherit;
}

.cardFancy .face.face2 .content p{
    margin: 0;
    padding: 0;
}

.cardFancy .face.face2 .content a{
    margin: 15px 0 0;
    display:  inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #333;
    padding: 5px;
    border: 1px solid #333;
}

.cardFancy .face.face2 .content a:hover{
    background: #333;
    color: #fff;
}

.jumbotron{
    margin: 1rem;
}



.cardConnect{
    position: relative;
}

.cardConnect .face{
    height: 100px;
    width: 100%;
    transition: 1s;
}

.cardConnect .face.face1{
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    width: 100%;
}

.cardConnect:hover .face.face1, .cardConnect:active .face.face1{
    background: #BC986A;
    opacity: 0;
    width: 25%;
    transition: 1s;
    z-index: -1;
}

.cardConnect .face.face1 .content{
    opacity: 0.5;
    transition: 0.5s;
    max-width: 100%;
}

.cardConnect:hover .face.face1 .content, .cardConnect:active .face.face1 .content{
    opacity: 1;
}

.cardConnect .face.face1 .content h3{
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
}

.cardConnect .face.face2{
    height: 100px;
    position: relative;
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    opacity: 0;
    width: 25%;

}

.cardConnect:hover .face.face2, .cardConnect:active .face.face2{
    transform: translateY(0);
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    opacity: 1;
    transition: 1s;
    width: 100%;
}
.cardConnect .face.face2 .content{
    width: 100%;
}

.cardConnect .face.face2 .content p{
    margin: 0;
    padding: 0;
}

.cardConnect .face.face2 .content p{
    color: black; /* blue colors for links too */
    text-decoration: none; /* no underline */

}

.cardConnect .face.face2 .content p:hover{
    color: black; /* blue colors for links too */
    text-decoration: none; /* no underline */
}

#contact-me-modal-body{
    height: 75vh;
}
.bottom-right-fixed{
    position:fixed;
    z-index: 999;
    bottom: 5vh;
    right: 5vw;
}

.floating-button{
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 50%;
    border-width: 0px;
    color: #000000;
    transition: 1s;  
}

#floating-container{
    height: 50px;
    width: 50px;
    background-color: transparent;
    border-radius: 50%;
    border-width: 0px;
    color: #000000;
    transition: 1s;  
    opacity: 20%;
}


#floating-container:hover{
    height: 120px;
    color:white;
    z-index: 997;
    border-radius: 50%;
    border-radius: 0%;
    background-color: transparent;    
    opacity: 100%;
}

#floating-linkedin-button{
    z-index: 998; 
    visibility: hidden;
    opacity: 0%;
}

#floating-container:hover > #floating-linkedin-button{
    transform: translateY(-110px);
    transition: 1s;
    visibility: visible;
    opacity: 100%;
    background-color: grey;

}

#floating-mail-button{
    visibility: hidden;  
    z-index: 998; 
    opacity: 0%;
}

#floating-container:hover > #floating-mail-button{
    transform: translateY(-55px);
    visibility: visible;
    transition: 1s;
    opacity: 100%;
    background-color: grey;
}

#floating-container:hover > #floating-contact-button{
    transition: 1s;
    z-index: -1;
    opacity: 100%;
    cursor:default;
}

#floating-contact-button{
    transform: 1s;
    cursor: default;
}